body {
  margin: 0;
  padding: 0;
  min-width:1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor:pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display:flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;

  padding:49px 20px 18px 20px;
}

.main-logo {
  width:160px;
  height:65px;
  margin-right:200px;
}

.site-navigation {
  display:flex;
  justify-content: space-between;

  width:440px;
  margin-right:280px;
  list-style: none;
}

.user-navigation {
  position:relative;
  list-style: none;
}

.user-navigation::before {
  position:absolute;
  content:"";
  left:-10px;
  top:7px;
  width:15px;
  height:15px;
  background-image:url(../img/cart-icon.svg);
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8
}

.main-logo:active {
  opacity: 0.3
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity:0.3;
}

.main-slider {
  position:relative;
  padding:0px;
  margin:0px;
  margin-bottom:80px;


}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


.slider-list {
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
}

.slider-item {
  padding:18px 0 80px 0;
  display:none;
}

.slider-item h3 {
  max-width:380px;
  margin: 0;
  margin-bottom:27px;

  font-size: 55px;
  line-height: 55px;
  text-align: left;
}

 .slider-item p {
   max-width:430px;
   margin:0;
   margin-bottom:38px;
}

.slider-item:nth-child(1) {
  display:block;

  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-controls {
  position:absolute;
  left:51%;
  bottom:95px;
  z-index:10;

  width:160px;
  height:18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);


}
.slider-controls i {
  position:relative;
  display:inline-block;
  width:18px;
  height:18px;
  padding:8px;
  border-radius:50%;
  cursor:pointer;
}

.slider-controls i::after {
  position:absolute;
  left:8px;
  top:8px;
  z-index:1;
  content: "";

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  z-index: 2;
  width:4px;
  height:4px;
  margin:-4px;
  background-color:inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.goods {
  margin:20px;
  padding:0px;
  display:flex;
  justify-content:space-between;
  padding-bottom:20px;

  list-style: none;
}

.goods h3 {
  margin-bottom:26px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.goods p {
  max-width:300px;
  margin-bottom:35px;
}

.main-advantages {
  margin:0 20px;
  padding:0px;
  padding-top:40px;
  margin-bottom:76px;
  display:flex;
  flex-direction:row;
  list-style:none;
  border-top:2px solid #eeeeee;
}

.main-advantages h3 {
  display:block;
  margin:0;
  padding:0;
  width:660px;
  margin-bottom:35px;
  font-size: 45px;
  line-height: 45px;
}

.main-advantages h4 {
  margin-bottom:35px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-advantages p {
  max-width:660px;
  margin-bottom:45px;
}

.advantages-list {
  padding:0;
  margin:0;
  list-style:none;
}

.advantages-item {
  Display:flex;
  align-items: center;
}

.advantages-item::before {
  content:"";
  width:25px;
  height:2px;
  margin-right:11px;
  background-color: red;
}

.button {
  display:block;
  width:160px;

  padding:13px 0;
  font-size:16px;
  line-height: 18px;
  text-align:center;
  color: #ffffff;
  vertical-align:middle;
  text-transform: uppercase;
  background-color: #000000;
  border-radius:3px;
  border: none;
  cursor:pointer;
}

.button-slider {
  width:240px;
  margin-bottom:80px;
}

.button-red {
  background-color: #fb565a;
  color: #ffffff;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color:#e37376;
}

.button-green {
  background-color: #00ca74;
  color: #ffffff;
}

.button-green:active {
  color: #1daf6c;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow {
  background-color: #efc849;
  color: #ffffff;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #edc265;
}

.button-gray {
  width:160px;

  background-color: #eeeeee;
  color:#000000;
  cursor:pointer;
}

.button-gray:hover {
  background-color:#dfdfdf;
}

.button-gray:active {
  background-color:#d5d5d5;
  color:#959595;
}

.button-navigation {
list-style: none;
}

.adv1 {
    width:660px;
}

.adv2 {
  width:360px;
  margin-left:140px;
}

.adv2 h4 {
  text-align: center;
  margin-bottom: 50px;
}

.table {
  display: flex;
  justify-content: space-between;
  width:360px;
}

.column {
  outline: 1px solid black;
  width:100px;
  vertical-align:top;

}

.big-text {
  display: block;

  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
  outline: 1px solid green;
}

.column p {
  line-height: 18px;

}
.percent-logo {
  transform: scale()(0.5,0.5);
  background-color: red;

}

.companies-logo {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:45px 0;
  margin-bottom:80px;
  list-style: none;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.companies-logo li a{
  list-style: none;
  opacity: 0.2;
}

.companies-logo li a:hover {
  opacity: 1.0
}

.companies-logo li a:focus,
.companies-logo li a:active {
  opacity: 0.1;
}

.main-footer {
  margin-bottom:70px;
}

.map {
  position:relative;
  z-index:1;
  min-width:1440px;
  height:420px;
  padding:0;
  margin:0 auto;
  background-image:url(../img/map.jpg);
  background-repeat: no-repeat;


}

.contacts {
  position:absolute;
  left:20px;
  top:55px;
  z-index:2;
  background-color:#ffffff;

  width:320px;
  height:310px;
  text-align: center;
}

.contacts-info {
  display:flex;
  flex-direction: column;
  margin:55px 50px;


}

.contacts-info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.contacts-info p {
  margin-bottom:35px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.social-footer {
  display:flex;
  margin:0;
  padding:0;
  margin-top:69px;

}

.social-footer h3 {
  margin:0;
  padding:0;
  font-size: 36px;
  line-height: 36px;
}

.social-footer p {
  margin-top:15px;

  font-size: 16px;
  line-height: 22px;
}

.social-button-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width:260px;
  margin:0 auto;
  padding:0;
  margin-right:140px;

  list-style: none;
}

.social-button {
  display:flex;
  align-items: center;
  justify-content: center;

  width:80px;
  height:80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  color:#000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path {
  fill: #e37376;
}

.footer-text {
  display:block;
}

.main-navigation h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
}

.filter label {
  color: gray;
}

.filter label:hover {
  color:#000000;
}

.filter label:disabled {
  opacity:0.3;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
  list-style: none;
}

.filter ul{
  list-style:none;
}

.price-from p,
.price-to p {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-list,
.properties-list {
font-size: 16px;
line-height: 20px;
list-style: none;
}

.sort p {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.sort-list {
  list-style: none;
}

.sort-list li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list li a {
  opacity:0.3;
  color:#000000;
}

.sort-list li a:hover {
  opacity:0.6;
}

.sort-list li a:active {
  opacity:1.0;
}

.sites {
  list-style: none;
}

.modal-window {
  position:fixed;
  top:0px;
  left:50%;
  z-index:1000;

  width:960px;
  height:590px;
  margin-left:-480px;


  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color:#ffffff;
}

.modal-input {
  margin:73px 100px;
  padding:0;
}

.modal-form {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 760px;
  outline:1px solid black;
}

.modal-header {
  font-size: 45px;
  line-height: 45px;

}

.modal-item {
  display:flex;
  flex-direction: column;
  justify-content: center;


  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-item input {
  box-sizing: border-box;
  font:inherit;
  font-weight:normal;

  width: 360px;
  margin-top:12px;
  padding:15px;
  border: 2px solid #eeeeee;
  opacity:0.5;
}


.modal-item input:hover,
.modal-item input:active {
   opacity:0.8;
}

.modal-item input:focus {
  outline: 1px solid black;
  color:#000000;
  opacity:1.0
}

.button-close {
  position:absolute;
  width:21px;
  height:21px;

  top:80px;
  right:90px;

  background-color:transparent;
  border:0;
  cursor:pointer;

}

.button-close:after,
.button-close:before {
  content: "";
  position: absolute;

  top:8px;
  left:1px;

  width: 19px;
  height: 3px;

  background-color: #fb565a;
  opacity:0.3;
}

.button-close:after {
transform: rotate(45deg);
}

.button-close:before {
transform: rotate(-45deg);
}

.button-close:after:hover,
.button-close:after:focus {
  opacity:1.0;
}
