body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: white;
}

a {
  text-decoration: none;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8
}

.main-logo:active {
  opacity: 0.3
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity:0.3;
}

.main-slider {
  background-color: #eeeeee;
}

.slider-list,
.goods,
.advantages,
.social-button {
  list-style: none;
}

.slider-list h3 {
  font-size: 55px;
  line-height: 55px;
  text-align: left;
}

.goods h3{
  font-size: 24px;
  line-height: 30px;
}

.main-advantages h3 {
  font-size: 45px;
  line-height: 45px;
}

.main-advantages h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.button {
  padding:10px;

  font: inherit;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;

}

.button-red {
  background-color: #fb565a;
  color: #ffffff;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
}

.button-green {
  background-color: #00ca74;
  color: #ffffff;
}

.button-green:active {
  opacity: 0.3;
  background-color: #00bc6c
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow {
  background-color: #efc849;
  color: #ffffff;
}

.button-yellow:active {
  opacity: 0.3;
  background-color: #efc849
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-gray {
  background-color: #eeeeee;
  color:#000000;
}

.button-gray:hover {
  background-color:#dfdfdf;
}

.button-gray:active {
  background-color:#d5d5d5;
  color:#959595;
}

.row-1 {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
}

.row-2 {
  font-size: 16px;
  line-height: 18px;
}

.companies-logo {
list-style: none;
}

.companies-logo li a{
  list-style: none;
  opacity: 0.2;
}

.companies-logo li a:hover {
  opacity: 1.0
}

.companies-logo li a:focus,
.companies-logo li a:active {
  opacity: 0.1;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
}

.social-footer h3 {
  font-size: 36px;
  line-height: 36px;
}

.social-footer p {
  font-size: 16px;
  line-height: 22px;
}

.social-button a  {
  color:#000000;
}

.main-navigation h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
}

.filter label {
  color: gray;
}

.filter label:hover {
  color:#000000;
}

.filter label:disabled {
  opacity:0.3;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
  list-style: none;
}

.filter ul{
  list-style:none;
}

.price-from p,
.price-to p {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-list,
.properties-list {
font-size: 16px;
line-height: 20px;
list-style: none;
}

.sort p {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.sort-list {
  list-style: none;
}

.sort-list li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list li a {
  opacity:0.3;
  color:#000000;
}

.sort-list li a:hover {
  opacity:0.6;
}

.sort-list li a:active {
  opacity:1.0;
}

.sites {
  list-style: none;
  opacity:0.2;
}

.sites:hover {
  opacity:1.0;
}

.button-navigation {
list-style: none;
}

.write-header {
  font-size: 45px;
  line-height: 45px;
}

.write-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.write-item input {
  font:inherit;
  font-weight:normal;
  border: 2px solid black;
  opacity:0.3;
}

.write-item input:hover,
.write-item input:active {
  border-color: black ;
  opacity:0.7;
}

.write-item input:focus {
  opacity:1.0
}



}
